* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
// :root {
// 	--title-font: 'Open Sans', sans-serif;
// 	--text-font: 'Open Sans Condensed', sans-serif;
// 	--text-color: rgb(245, 245, 253);
// 	--bgc-color: rgb(96, 77, 255);
// 	--light-color: rgb(184, 190, 204);
// 	--st--light-color: rgb(245, 245, 253);
// 	--inputs--color: rgb(33, 22, 133);
// }
[data-mode='light'] {
	--title-font: 'Open Sans', sans-serif;
	--text-font: 'Open Sans Condensed', sans-serif;
	--text-color: rgb(245, 245, 253);
	--bgc-color: rgb(96, 77, 255);
	--light-color: rgb(184, 190, 204);
	--st--light-color: rgb(245, 245, 253);
	--inputs--color: rgb(33, 22, 133);
}
[data-mode='dark'] {
	--title-font: 'Open Sans', sans-serif;
	--text-font: 'Open Sans Condensed', sans-serif;
	--text-color: rgb(96, 77, 255);
	--bgc-color: rgb(37, 36, 53);
	--light-color: rgb(184, 190, 204);
	--st--light-color: rgb(245, 245, 253);
	--inputs--color: rgb(120, 112, 192);
	--bright--spindle--color: rgb(240, 12, 12);
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: var(--text-font);
	font-size: 1.6rem;
	color: var(--text-color);
	background-color: var(--light-color);
}
.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: var(--bgc-color);
	width: 100vw;
	height: 100vh;
}
.custom-shape-divider-bottom-1644693188 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1644693188 svg {
	position: relative;
	display: block;
	width: calc(216% + 1.3px);
	height: 86px;
	transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1644693188 .shape-fill {
	fill: #b1a7ff;
}
.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: var(--bgc-color);
	width: 100vw;
	height: 100vh;
}
h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 3rem;
	font-family: var(--title-font);
}
header {
	height: 10vh;
}
header p {
	font-family: var(--title-font);
	text-align: center;
	font-size: 1.5rem;
	opacity: 0.7;
}
.popup {
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	top: 0;
	left: 0;
	width: 100vw;
	height: 20vh;

	z-index: 2;
	background-color: var(--st--light-color);
	transform: translateY(-100%);
	transition: transform 0.3s;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	&-text {
		margin-top: 1.6em;
		width: 80vw;
		color: var(--bgc-color);
	}
	&-show {
		transform: translateY(0);
	}
}
.question-mark {
	position: absolute;
	top: 3px;
	right: 3px;
	padding: 0.8em;
	font-size: 2rem;
	cursor: pointer;
	color: var(--light-color);
	z-index: 3;
	transition: color 0.3s;
	&--color {
		color: var(--bgc-color);
	}
}

.darkmode-icon {
	position: absolute;
	top: 3px;
	left: 3px;
	padding: 0.8em;
	font-size: 2rem;
	cursor: pointer;
	color: rgb(76, 75, 77);
}
.bright-icon {
	display: none;
	color: rgb(209, 209, 88);
	&--show {
		display: block;
	}
}
.dark-icon {
	display: block;
	&--hide {
		display: none;
	}
}
.app-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 10vh;
	width: 60vw;
	max-width: 600px;
	z-index: 4;
}

.diameter,
.kind,
.material {
	margin: 0 auto;
	text-align: center;
	margin-top: 2em;
	padding: 1em 3em;
	font-size: 1.3rem;
	background-color: var(--st--light-color);
	color: var(--inputs--color);
	border: none;
	border-radius: 12px;
	width: 100%;
}
.button {
	margin: 0 auto;
	text-align: center;
	padding: 1em 3em;
	background-color: rgb(33, 22, 133);
	color: var(--light-color);
	border: none;
	border-radius: 12px;
	transition: transform 0.2s;
	cursor: pointer;
}
.button:hover {
	transform: scale(1.1);
}

.app-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 33vh;
	z-index: 4;
}

.error-info {
	display: inline-block;
	font-family: var(--title-font);
	color: rgb(114, 41, 41);
	visibility: hidden;
	margin: 0.5em;
}
.spindle-info,
.spindle-rate {
	margin: 0.5em;
	font-family: var(--title-font);
	font-size: 2rem;
}
.spindle-rate {
	color: rgb(131, 17, 17);
	font-size: 2.4rem;
	&--bright {
		color: var(--bright--spindle--color);
	}
}

// media

@media (min-width: 768px) {
	.question-mark {
		font-size: 3rem;
	}
	.darkmode-icon {
		font-size: 3rem;
	}
	.popup-text {
		font-size: 1.8rem;
	}
	h1 {
		font-size: 4rem;
	}
	header p {
		font-size: 1.7rem;
	}
	.kind,
	.diameter,
	.material {
		font-size: 1.7rem;
	}
	.error-info {
		font-size: 2rem;
	}
	.spindle-info {
		font-size: 2.2rem;
	}
	.spindle-rate {
		font-size: 2.5rem;
	}
}

@media (min-width: 992px) {
	.question-mark {
		font-size: 4rem;
	}
	.darkmode-icon {
		font-size: 4rem;
	}
	.popup-text {
		font-size: 2.3rem;
	}
	h1 {
		font-size: 5rem;
	}
	header p {
		font-size: 2rem;
	}
	.kind,
	.diameter,
	.material {
		font-size: 1.7rem;
	}
	.error-info {
		font-size: 2.5rem;
	}
	.button {
		font-size: 2rem;
	}
	.spindle-info {
		font-size: 3rem;
	}
	.spindle-rate {
		font-size: 3.5rem;
	}
}
